body{
    background-color: rgb(90, 147, 253);
    color: white;
    text-align: center;
}


.form{
    height: 250px;
	width: 500px;
	background-color: white;
	text-align: center;
    padding: 20px;
    border-radius: 4px;
    margin-left: 480px;
}


input {
    margin: 25px auto;
	display: block;
	width: 75%;
	padding: 15px;
    border: 1px solid gray;
    border-radius: 3px;
}

button{
    width: 82%;
    background-color: rgb(21, 102, 252);
    color: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.welcome{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 130px 0px 50px 0px;
}

.links{
    height: 20px;
	width: 500px;
	padding: 20px;
    border-radius: 4px;
    margin: 5px 0px 0px 485px;
}

.links-left{
    font-family: 'Times New Roman', Times, serif;
    float: left;
}


.links-right{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

svg{
    height: 30px;
    width: 50px;
    margin-bottom: 17px;
}

.msg{
    fill: white;    
}